<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.leo.electricitysystem.mapper.TicketMapper">

    <insert id="insertTicket" useGeneratedKeys="true">
        <selectKey keyProperty="ticketId" keyColumn="ticket_id" order="AFTER" resultType="Long">
            select last_insert_id()
        </selectKey>
       -- 插入操作票
        INSERT into operation_ticket(create_time,complete_time,task_name,admin_name,admin_id,worker_name,worker_id,supervisor_name)
        VALUES (#{createTime},#{completeTime},#{taskName},#{adminName},#{adminId},#{workerName},#{workerId},#{supervisorName});
    </insert>

    <insert id="insertSteps" useGeneratedKeys="true">
        <selectKey  keyProperty="id"  keyColumn="id" order="AFTER" resultType="Long">
            select last_insert_id()
        </selectKey>
        -- 插入步骤
        INSERT into operation_steps(description,step_order,ticket_id)
        VALUES (#{description},#{stepOrder},#{ticketId})
    </insert>

    <insert id="insertSwitch" useGeneratedKeys="true">
        -- 插入步骤
        INSERT into step_switch(step_id,switch_id,switch_status,step_order)
        VALUES (#{stepId},#{switchId},#{switchStatus},#{stepOrder})
    </insert>


    <select id="selectTicketPageByUserID" resultType="com.leo.electricitysystem.domain.OperationTicket">
        -- 根据用户id分页查询操作票（管理员，工人）
        SELECT * from operation_ticket
        <choose>
        <when test="loginUser.userType == '工人'">
            where #{loginUser.id} = worker_id
        </when>
        <otherwise>
            where #{loginUser.id} = admin_id
        </otherwise>
        </choose>
        LIMIT #{offset},#{pageSize};
    </select>

    <select id="selectTicketAmount" resultType="java.lang.Integer">
        -- 根据user类型查看当前账户的ticket数目
        SELECT count(*) from operation_ticket
        <choose>
            <when test="loginUser.userType == '工人'">
                where #{loginUser.id} = worker_id;
            </when>
            <otherwise>
                where #{loginUser.id} = admin_id;
            </otherwise>
        </choose>
    </select>


</mapper>